# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/
dist/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Local env / secrets
*.env
.env.local
